<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title> Mars Data</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center"
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="row">
      <div class="col">
        <h3>Latest Mars Activity...</h3>
        <h4>{{ mars_information["news_title"] }}({{ mars_information["news_date"] }})</h4>
        <p>{{ mars_information["news_p"] }}</p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Featured mars Image</h3>
        <img src="{{ mars_information['featured_image']}}" alt="Featured Mars Image" style="width:100%;">
      </div>
    
      <div class="col text-center">
        <h5>Mars and Earth Comparison</h5>
        {{ mars_information['mars_info_df']|safe }}
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h3>Mars Hemishperes</h3>
      </div>
    </div>
    <div class="row mb-5">
      {% for jj in mars_information['hemisphere_image_urls'] %}
      <div class="col-md-3">
        <div>
          <img src="{{jj['img_url']}}" style="width: 100%;">
        </div>
        <div>
          {{jj['title']}}
        </div>
      </div>
      {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>



</html>

